body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

.dark-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 10px 140px 60px 140px;
    row-gap: 100px;
}

.dark-up {
    display: flex;
    justify-content: space-between;
}

.header-links>ul {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links, .header-text>p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-text>h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.backpack {
    flex: 1;
}

.imgbackpack {
    width: 100%;
}

.dark-down {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 20px;
}

.header-text {
    flex: 1;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    font-size: 18px;
    color: #E5E7EB;
    box-shadow: none;
    border: none;
    padding: 5px 20px;
}

h1 {
    margin-block-start: -0.25em;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    line-height: 1.5em;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    color: #E5E7EB;
}

.all-illustrations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 40px;
}

.illustration {
    flex: 1;
}

.illustration>img {
    width: 100%;
    border-radius: 15px;
}

.white-section {
    padding: 15px 200px 80px 200px;
}

.white-section>h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 20px 0px;
}

.illustration>p {
    text-align: center;
}

.gray-section {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 80px 200px;
}

.quote {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
}

.author {
    font-weight: bold;
    text-align: right;
}

.action-section {
    background-color: #3882F6;
    margin: 80px 100px;
    border-radius: 10px;
    padding: 50px 120px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.white-button {
    border: 2px solid #E5E7EB;
    width: fit-content;
    height: fit-content;
}

.white-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.action-text>h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.action-text>p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 20px 0px;
    font-size: 18px;
}